.contact{
//    margin-top: 120px;
   height: 600px;
   padding-top: 150px;
    .con-title{
        font-family: poppinsR;
        font-size: 30px;
        text-align: center;
        span {
            color: red;
        }
    }
    .cont-message{
        font-family: poppinsL;
        text-align: center;
    }

    .cont-container{
        // background-color: blue;
        justify-content: center;
        width: 450px;
        margin: 20px auto 50px auto;
        .top-conta{
            margin: 0 auto;
            width: 450px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            input{
                width: 220px;
                border: black solid 2px;
                height: 35px;
                font-family: poppinsL;
                padding-left: 5px;
                margin: 5px auto;
            }

        }
        .ordernum{  width: 450px;
            border: black solid 2px;
            height: 35px;
            font-family: poppinsL;
            padding-left: 5px;
            margin: 10px auto;
        }
        .messages{  width: 450px;
            border: black solid 2px;
            height: 100px;
            font-family: poppinsL;
            padding-left: 5px;
            margin: 10px auto;

        }
        button {
            width: 180px;
            height: 50px;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-family: poppinsL;
            font-size: 16px;
            color: white;
            border: none;
            margin: 0 auto;       
        }
        button:hover{
            cursor: pointer;
            transition: 0.3s;
            background-color: rgb(207, 11, 11);
        }
    }
}

@media(max-width:600px){
    .contact{
        padding-top: 100px;
        // background-color: #333;
        .cont-message{
            width: 300px;
            margin: 0 auto;
            font-size: 14px;
        }
        .cont-container{
            width: 90%;
            .top-conta{
                flex-direction: column;
                width: 100%;
                input{
                    width: 100%;
                    margin: 2px;
                }
            }
            .ordernum{
                width: 100%;
            }
            .messages{
                width: 100%;
            }
        }
    }
}